/airflow.cfg
/fifa_s2.csv
/hadoop.zip
/s1.pptx
/s1.scala
/s2.pptx
/s2.scala
/s2_data.csv
/s2_hw.scala
/s3.pptx
/s3.sql
/s3.xlsx
/s4.pptx
/s4.py
/s4.xlsx
/s4_0.py
/s4_2.xlsx
/s5_2.docx
/s6.py
/s6dag.py
/s6s1.scala
/s7dag — копия.py
/s8dag.py
/Sem6.xlsx
/spark.zip
/Ubuntu.zip
/wsl shutdown.bat
/Сем1.pdf
/Сем1.xlsx
/Снимок экрана 2023-10-20 213224.png